<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bat_dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,288},{50,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{50,35}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_fly000.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,35}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_fly001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{67,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{67,30}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_fly002.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,334},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{67,29}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_fly003.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,334},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{67,29}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_hang.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,165},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,3},{29,32}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>bat_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,114},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{53,35}}</string>
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>

			<key>obj_Crouch000.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,288},{55,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,47},{55,72}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_FallFlat001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{77,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,62},{77,57}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Idle003.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,165},{54,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,30},{54,88}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_JumpHigh000.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,114},{63,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,30},{63,88}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_PropSpear000.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{14,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,14},{14,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run000.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,251},{67,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,36},{67,82}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run001.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,83},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,37},{57,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run002.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,254},{52,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,36},{52,82}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run003.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,203},{60,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,35},{60,84}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run004.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,36},{65,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,36},{65,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run005.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,203},{57,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,37},{57,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run006.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{53,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,36},{53,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_Run007.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{59,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,35},{59,82}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_SpearThrow000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,35},{83,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_SpearThrow001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,35},{91,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_SpearThrow002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{91,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,36},{91,82}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>obj_SpearThrow003.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,167},{66,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,36},{66,82}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{325,364}</string>
			<key>textureFileName</key>
			<string>Characters-ipad.png</string>
			</dict>
		</dict>
</plist>