<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,658},{48,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,34}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>arrowsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,658},{16,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,40}}</string>
				<key>sourceSize</key>
				<string>{16,40}</string>
			</dict>

			<key>backarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,725},{120,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,60}}</string>
				<key>sourceSize</key>
				<string>{120,60}</string>
			</dict>

			<key>deadPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,577},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,80}}</string>
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>

			<key>helmet.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,577},{96,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{96,46}}</string>
				<key>sourceSize</key>
				<string>{96,48}</string>
			</dict>

			<key>helmet_preview.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,786},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{60,29}}</string>
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>

			<key>helmet_preview_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,786},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{50,24}}</string>
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>

			<key>lockedWorld.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,577},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,240}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>nextarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,725},{120,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,60}}</string>
				<key>sourceSize</key>
				<string>{120,60}</string>
			</dict>

			<key>popupMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{768,576}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{768,576}}</string>
				<key>sourceSize</key>
				<string>{768,576}</string>
			</dict>

			<key>pullButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,577},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{147,147}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>retryArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,658},{97,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,118}}</string>
				<key>sourceSize</key>
				<string>{97,118}</string>
			</dict>

			<key>winPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,624},{69,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,83}}</string>
				<key>sourceSize</key>
				<string>{69,83}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{769,818}</string>
			<key>textureFileName</key>
			<string>UIElements-ipad.png</string>
			</dict>
		</dict>
</plist>