<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1247},{96,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,66}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>

			<key>arrowsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1314},{32,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,80}}</string>
				<key>sourceSize</key>
				<string>{32,80}</string>
			</dict>

			<key>backarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1448},{240,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,120}}</string>
				<key>sourceSize</key>
				<string>{240,120}</string>
			</dict>

			<key>deadPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1153},{215,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,160}}</string>
				<key>sourceSize</key>
				<string>{215,160}</string>
			</dict>

			<key>helmet.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1153},{192,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{192,93}}</string>
				<key>sourceSize</key>
				<string>{192,96}</string>
			</dict>

			<key>helmet_preview.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1569},{120,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{120,58}}</string>
				<key>sourceSize</key>
				<string>{120,60}</string>
			</dict>

			<key>helmet_preview_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1569},{100,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{100,48}}</string>
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>

			<key>lockedWorld.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1153},{480,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,480}}</string>
				<key>sourceSize</key>
				<string>{480,480}</string>
			</dict>

			<key>nextarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1448},{240,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,120}}</string>
				<key>sourceSize</key>
				<string>{240,120}</string>
			</dict>

			<key>popupMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1536,1152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1536,1152}}</string>
				<key>sourceSize</key>
				<string>{1536,1152}</string>
			</dict>

			<key>pullButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1153},{294,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{294,294}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>retryArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1314},{194,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,236}}</string>
				<key>sourceSize</key>
				<string>{194,236}</string>
			</dict>

			<key>winPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1247},{138,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,166}}</string>
				<key>sourceSize</key>
				<string>{138,166}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1537,1634}</string>
			<key>textureFileName</key>
			<string>UIElements-ipadhd.png</string>
			</dict>
		</dict>
</plist>