<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bat_dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,393},{93,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,4},{93,64}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_fly000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,322},{132,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,70}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_fly001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{133,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{133,56}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_fly002.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,595},{133,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{133,56}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_fly003.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,484},{133,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{133,56}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_hang.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,553},{47,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,11},{47,58}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>bat_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,324},{99,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,1},{99,68}}</string>
				<key>sourceSize</key>
				<string>{134,70}</string>
			</dict>

			<key>obj_Crouch000.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{106,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,97},{106,138}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_FallFlat001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,127},{150,110}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Idle003.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,314},{103,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,63},{103,171}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_JumpHigh000.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,152},{121,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,62},{121,171}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_PropSpear000.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,161},{24,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,29},{24,181}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run000.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,161},{130,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,74},{130,159}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run001.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,0},{109,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,76},{109,157}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run002.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,0},{100,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,74},{100,160}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run003.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,324},{115,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,72},{115,163}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run004.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{127,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,74},{127,151}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run005.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,158},{109,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,76},{109,155}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run006.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,488},{101,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,74},{101,157}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_Run007.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,488},{113,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,72},{113,158}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_SpearThrow000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,72},{161,161}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_SpearThrow001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,73},{175,160}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_SpearThrow002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{179,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,73},{179,160}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>obj_SpearThrow003.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,393},{126,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,74},{126,159}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{657,652}</string>
			<key>textureFileName</key>
			<string>Characters-ipadhd.png</string>
			</dict>
		</dict>
</plist>