<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,593},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,28}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>arrowsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,645},{13,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,33}}</string>
				<key>sourceSize</key>
				<string>{13,33}</string>
			</dict>

			<key>backarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,629},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,50}}</string>
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>

			<key>deadPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,481},{89,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,65}}</string>
				<key>sourceSize</key>
				<string>{89,66}</string>
			</dict>

			<key>helmet.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,481},{80,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{80,38}}</string>
				<key>sourceSize</key>
				<string>{80,40}</string>
			</dict>

			<key>helmet_preview.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,547},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{50,24}}</string>
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>

			<key>helmet_preview_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,572},{42,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{42,20}}</string>
				<key>sourceSize</key>
				<string>{42,21}</string>
			</dict>

			<key>lockedWorld.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,481},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>nextarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,629},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,50}}</string>
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>

			<key>popupMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,480}}</string>
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>

			<key>pullButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,481},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{147,147}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>retryArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,547},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,97}}</string>
				<key>sourceSize</key>
				<string>{80,97}</string>
			</dict>

			<key>winPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,520},{69,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,83}}</string>
				<key>sourceSize</key>
				<string>{69,83}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{641,682}</string>
			<key>textureFileName</key>
			<string>UIElements-hd.png</string>
			</dict>
		</dict>
</plist>