<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,324},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,15}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>arrowsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,324},{7,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,17}}</string>
				<key>sourceSize</key>
				<string>{7,17}</string>
			</dict>

			<key>backarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,241},{50,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,25}}</string>
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>

			<key>deadPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,293},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,33}}</string>
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>

			<key>helmet.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,293},{40,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{40,19}}</string>
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>

			<key>helmet_preview.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,327},{25,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,12}}</string>
				<key>sourceSize</key>
				<string>{25,12}</string>
			</dict>

			<key>helmet_preview_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,327},{21,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{21,10}}</string>
				<key>sourceSize</key>
				<string>{21,11}</string>
			</dict>

			<key>lockedWorld.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>nextarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,267},{50,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,25}}</string>
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>

			<key>popupMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,240}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>pullButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,241},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{82,82}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>

			<key>retryArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,241},{40,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,49}}</string>
				<key>sourceSize</key>
				<string>{40,49}</string>
			</dict>

			<key>winPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,291},{35,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,42}}</string>
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{321,342}</string>
			<key>textureFileName</key>
			<string>UIElements.png</string>
			</dict>
		</dict>
</plist>