<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_Box000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{44,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{46,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{46,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,684},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,414},{52,68}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,754},{54,68}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{58,68}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{58,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Crouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1476},{44,58}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{44,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Doze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{42,60}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{42,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1152},{56,50}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,50},{56,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1210},{62,46}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,52},{62,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{70,40}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{70,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{62,66}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{54,72}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Jump000.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,484},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigh000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,340},{50,72}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{50,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigher000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,960},{54,62}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpJoy000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{56,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLand000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,278},{48,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{48,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1024},{50,64}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_PropSpear000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{10,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{10,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Push000.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,72},{46,66}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,824},{54,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1274},{44,66}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{40,66}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{40,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,208},{48,68}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{48,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,620},{52,62}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{52,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1410},{44,64}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{42,66}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,140},{46,66}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Sit000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1090},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{50,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{76,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{74,56}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{74,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{68,58}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{44,76}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{44,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{66,66}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{74,66}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,66}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{76,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,552},{52,66}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,892},{54,66}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{62,66}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{70,66}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{44,68}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1342},{44,66}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{42,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playersprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea6eb7245c37901f52017a6b5a9b3e22:ef756766cb328116f0d7c9f4a967c740:9619386a90396fccb4d53fe5439dc3a8$</string>
            <key>textureFileName</key>
            <string>playersprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
