<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_Box000.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,154},{108,162}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{108,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,308},{112,162}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,72},{112,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,552},{120,162}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,72},{120,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,674},{124,162}}</string>
                <key>offset</key>
                <string>{22,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{124,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,526},{132,162}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{132,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{140,162}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{140,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Crouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,710},{106,138}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,97},{106,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Doze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,478},{100,148}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,85},{100,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_FallFlat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,854},{136,118}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,121},{136,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_FallFlat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,850},{150,110}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,127},{150,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Flat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,136},{172,98}}</string>
                <key>offset</key>
                <string>{-21,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,141},{172,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Flying000.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{152,160}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,55},{152,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Flying001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{132,172}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,62},{132,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Idle000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,348},{104,168}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{104,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,176},{104,170}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{104,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,264},{104,170}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,64},{104,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{104,172}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{104,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Jump000.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,390},{124,158}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{124,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_JumpHigh000.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,264},{122,172}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{122,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_JumpHigher000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,700},{130,152}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,66},{130,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_JumpJoy000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{134,166}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{134,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_JumpLand000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,580},{118,148}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,86},{118,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_JumpLong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,732},{120,152}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,69},{120,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_PropSpear000.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,140},{24,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,28},{24,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Push000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,596},{112,162}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,72},{112,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,156},{130,160}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,73},{130,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,516},{110,158}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{110,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,288},{100,160}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,74},{100,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,146},{116,164}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,71},{116,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,854},{128,152}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,73},{128,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,678},{110,156}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{110,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,628},{102,158}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,73},{102,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,518},{114,158}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{114,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Sit000.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,854},{120,144}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{120,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearCrouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{182,136}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,96},{182,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearCrouch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{178,136}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,96},{178,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearCrouch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{164,142}}</string>
                <key>offset</key>
                <string>{25,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{164,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearCrouch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,236},{106,180}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,56},{106,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearThrow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{162,162}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,71},{162,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearThrow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{176,160}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,73},{176,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearThrow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{29,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{180,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_SpearThrow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,800},{126,160}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,73},{126,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Stab000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,710},{122,162}}</string>
                <key>offset</key>
                <string>{21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{122,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Stab001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,660},{134,162}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{134,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Stab002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{150,162}}</string>
                <key>offset</key>
                <string>{33,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{150,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Stab003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{166,162}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{166,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,344},{102,166}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,68},{102,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,834},{106,166}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{106,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,422},{102,166}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,68},{102,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,388},{102,164}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{102,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,834},{102,160}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{102,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,370},{106,160}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{106,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,492},{102,164}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,68},{102,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>obj_Walk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,448},{102,166}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{102,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playersprites-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ff7713b2ecfb8b787d5733f7ec26ca:ef756766cb328116f0d7c9f4a967c740:c9f335fc578f48e041853649b9fa46ec$</string>
            <key>textureFileName</key>
            <string>playersprites-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
