<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,91},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>bat_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,91},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>bat_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>bat_hang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>bat_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,59},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,27},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>obj_Box000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{44,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1621},{46,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{46,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1551},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1481},{52,68}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1551},{54,68}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{58,68}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{58,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Crouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,275},{44,58}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{44,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Doze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{42,60}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{42,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,165},{56,50}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{56,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{62,46}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,52},{62,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,123},{70,40}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{70,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{62,66}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1837},{54,72}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1693},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1621},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1693},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1765},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Jump000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,997},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigh000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1837},{50,72}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{50,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigher000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{54,62}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpJoy000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1765},{56,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLand000.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,397},{48,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{48,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,523},{50,64}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_PropSpear000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1837},{10,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{10,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Push000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1065},{46,66}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{54,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{44,66}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,589},{40,66}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{40,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1411},{48,68}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{48,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,459},{52,62}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{52,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{44,64}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,793},{42,66}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,725},{46,66}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Sit000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,335},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{50,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{76,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{74,56}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{74,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{68,58}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1915},{44,76}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{44,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,657},{66,66}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{74,66}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{76,66}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{76,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{52,66}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1411},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{54,66}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{62,66}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{70,66}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1341},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1201},{44,68}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1341},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1271},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1201},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,861},{44,66}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1133},{42,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,15}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{38,34}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{38,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{126,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff74cc1b415df6b81298a32c4e91302:cd4e0c4fbb60bfb2a2e1ecfc99e1bc52:78662762f7192c17fb6c9813bff1cdf6$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
