<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>bat_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>bat_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>bat_hang.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>bat_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>obj_Box000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,76},{52,80}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{52,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,158},{54,80}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{54,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,158},{58,80}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{58,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,158},{60,80}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{60,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,158},{64,80}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{64,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,158},{68,80}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{68,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Crouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{52,68}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{52,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Doze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{48,72}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{48,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_FallFlat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{68,58}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{68,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_FallFlat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{74,54}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{74,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Flat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{84,48}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,71},{84,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Flying000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,76},{74,78}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{74,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Flying001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,158},{64,86}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{64,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Idle000.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,158},{52,82}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{52,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,158},{52,84}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{52,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,158},{52,84}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{52,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,158},{52,84}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{52,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Jump000.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,76},{60,78}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{60,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_JumpHigh000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,158},{60,86}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_JumpHigher000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,76},{64,76}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{64,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_JumpJoy000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,158},{68,82}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{68,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_JumpLand000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,2},{58,72}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{58,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_JumpLong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{58,76}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{58,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_PropSpear000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,158},{10,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,13},{10,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Push000.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,158},{54,80}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{54,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,158},{64,80}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{64,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,76},{54,78}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{54,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,158},{50,80}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{50,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{56,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{56,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{62,76}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{62,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,76},{54,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{54,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,76},{50,78}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{50,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,76},{56,78}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{56,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Sit000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{60,72}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{60,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearCrouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{90,66}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{90,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearCrouch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{88,66}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{88,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearCrouch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{82,70}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{82,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearCrouch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,158},{52,90}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{52,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearThrow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,76},{78,80}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{78,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearThrow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{88,80}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{88,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearThrow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,158},{90,80}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{90,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_SpearThrow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,158},{62,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{62,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Stab000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,76},{60,80}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{60,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Stab001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,76},{66,80}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{66,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Stab002.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,76},{74,80}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{74,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Stab003.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,76},{84,80}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{84,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk000.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,158},{50,82}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{50,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,76},{52,80}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{52,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,76},{50,80}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{50,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,76},{50,80}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{50,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,76},{50,80}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,76},{52,80}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{52,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>obj_Walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,76},{50,80}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,19}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{46,40}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{46,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1326,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa2a059f1930137e330f55c2378696cb:cd4e0c4fbb60bfb2a2e1ecfc99e1bc52:330cd2dc89f5fcbbeee29fb5f3288f3a$</string>
            <key>textureFileName</key>
            <string>sprites-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
