<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_Box000.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,136},{44,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{46,68}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{46,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,206},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{52,68}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{52,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,138},{54,68}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Box005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,140},{58,68}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{58,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Crouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,198},{44,58}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{44,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Doze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,142},{42,60}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{42,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,200},{56,50}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,50},{56,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_FallFlat001.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,96},{62,46}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,52},{62,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flat000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{70,40}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,59},{70,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{62,66}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Flying001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{54,72}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{54,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,142},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,212},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,70},{44,70}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Jump000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,204},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigh000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{50,72}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{50,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpHigher000.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,198},{54,62}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpJoy000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{56,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLand000.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,202},{48,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,37},{48,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_JumpLong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,66},{50,64}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_PropSpear000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{10,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{10,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Push000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,132},{46,66}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,66},{54,66}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{44,66}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,132},{40,66}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{40,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,208},{48,68}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{48,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,44},{52,62}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{52,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{44,64}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{44,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,66},{42,66}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,66},{46,66}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{46,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Sit000.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,142},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,37},{50,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{76,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,76},{74,56}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{74,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,70},{68,58}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearCrouch003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{44,76}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{44,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,68},{66,66}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,152},{74,66}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,66}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{76,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_SpearThrow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{52,66}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,68},{50,68}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{54,66}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,134},{62,66}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{62,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Stab003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,72},{70,66}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,68},{44,68}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{44,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,136},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,68},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,136},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,132},{44,66}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{44,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{42,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{42,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>obj_Walk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{42,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_player-hd.pvr.ccz</string>
            <key>size</key>
            <string>{738,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6e763b43dfd6a04b81e787426bc6ea6:ef756766cb328116f0d7c9f4a967c740:72d3c7f81c7a879ba7ecbf694385a73a$</string>
            <key>textureFileName</key>
            <string>sprites_player-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
